# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Compromising data
/src/main/resources/application.properties
/test2.cnf
/test2.ts
/src/main/resources/sql.properties

# Visual Studio
/.vs/skyscraper2/v15
/.vs/skyscraper2/DesignTimeBuild
/obj/Debug/netcoreapp2.1
/obj
